<h1>Francesco</h1>

<nav>
    <a id="hamburger"><img style="scale: 1.25;" src="/assets/icons/hamburger.svg" alt="Hamburger"></a>

    <ul class="hide_dot">
        <li><a href="/#home"><img src="/assets/icons/home.svg" class="icon">Home</a></li>
        <li><a href="/#skills"><img src="/assets/icons/code_blocks.svg" class="icon">Skills</a></li>
        <li><a href="/#certificates"><img src="/assets/icons/license.svg" class="icon">Certificates</a></li>
        <li><a href="/#projects"><img src="/assets/icons/home.svg" class="icon">Projects</a></li>
        <li><a href="/#socials"><img src="/assets/icons/mobile.svg" class="icon">Socials</a></li>
        <li><a href="/blog.html"><img src="/assets/icons/article.svg" class="icon">Blog</a></li>
        <li><a href="mailto:commercial@francescopiantone.com" class="button button__primary"><img src="/assets/icons/email.svg" class="icon">Contact Me</a></li>
    </ul>
</nav>