/**
* Card Component
*/

@property --card-gradient-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsl(240 80% 45%);
}

@property --card-gradient-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsl(240 60% 30%);
}

.card {
    width: max-content;
    min-width: 20rem;
    background: linear-gradient(0deg, var(--card-gradient-2), 25%, var(--card-gradient-1));
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
    border: var(--border-card);
    transition: --card-gradient-1 0.5s, --card-gradient-2 0.5s;
    cursor: default;
}

.card:hover {
    --card-gradient-1: var(--card-gradient-2);
}