/**
* Global
*/

:root {
    /** Colors */
    --color-dark-blue-1: #050510;
    --color-dark-blue-2: #000015;
    --color-dark-blue-3: #000005;
    --color-blue: #0000FF;
    --color-blue-1: #1010FF;
    --color-blue-2: #1515FF;
    --color-blue-3: #3030FF;
    --color-dark-yellow-1: #101000;
    --color-dark-yellow-2: #151500;
    --color-yellow: #FFFF00;
    --color-yellow-1: #FFFF10;
    --color-yellow-2: #FFFF15;
    --color-yellow-3: #FFFF30;

    /** Fonts */
    --ff-montserrat: 'MontserratRegular';
    --ff-montserrat-bold: 'MontserratBold';

    font-size: 62.5%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body, html {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: var(--color-dark-blue-1);
}

/**
* General
*/

*::selection {
    background-color: var(--color-blue);
    color: white;
}

.hidden { display: none; }

ul { list-style-type: none; }

.fullpage {
    width: 100vw;
    height: 100vh;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.page {
    width: 100vw;
    text-align: center;
}

.page:not(.mainpage) .secondarybtn {
    margin: 40px auto;
}

/**
* Typography
*/

@font-face {
    font-family: 'MontserratRegular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf');
}

.ff-montserrat { font-family: var(--ff-montserrat); }
.ff-montserrat-bold { font-family: var(--ff-montserrat-bold); }

h1 { font-family: var(--ff-montserrat-bold); }

h1.pagetitle {
    font-style: normal;
    font-weight: 800;
    font-size: 6.4em;

    text-shadow: 0px 0px 50px rgba(48, 48, 255, 0.75);
}

/**
* Buttons
*/

.btn {
    width: max-content;
    height: 1.7em;
    padding: 0 .8em;
    font-family: var(--ff-montserrat-bold);
    font-style: normal;
    font-weight: 800;
    font-size: 2.4em;
    line-height: 2.9em;
    display: flex;
    align-items: center;
    text-align: center;

    text-decoration: none;
    border-radius: .8em;

    cursor: pointer;
}

.btn i {
    font-size: 0.7em;
    height: 100%;
    margin-right: 1rem;
    text-align: center;
    vertical-align: middle;
}

.btn i::before {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.primarybtn {
    color: white;
    background-color: var(--color-blue-1);
    filter: drop-shadow(0px 0px 56px var(--color-blue-1));
}

.secondarybtn {
    color: var(--color-dark-yellow-1);
    background-color: var(--color-yellow-1);
    filter: drop-shadow(0px 0px 56px var(--color-yellow-1));
}

/**
* Scrollbar
*/

::-webkit-scrollbar {
    width: 1em;
    z-index: 102;
}

::-webkit-scrollbar-track {
    background-color: #0505FF;
    z-index: 103;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-yellow-3);
    border-radius: 500px;
    z-index: 104;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-yellow);
}