/**
* Header
*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4em;
    background: var(--color-background);
    display: grid;
    align-items: center;
    grid-template-areas: 'title nav';
    z-index: 1;
}

header h1,
header nav {
    align-self: center;
}

header h1 {
    grid-area: title;
    margin-left: 1rem;
}

header nav {
    grid-area: nav;
    margin-right: 1rem;
}

nav ul {
    height: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

nav ul li a:not(.button) {
    text-decoration: underline 0.2em #00000000;
    text-underline-offset: 0;
    transition: text-decoration-color 0.25s, text-underline-offset 0.25s;
}

nav ul li a:not(.button):hover {
    text-decoration-color: var(--color-button);
    text-underline-offset: 0.2em;
}

nav ul li a:not(.button) img.icon { display: none; }

nav #hamburger {
    display: none;
    top: 0;
    justify-content: center;
    align-content: center;
    height: 100%;
}

/**
* Responsivity
*/

@media (max-width: 950px) {
    nav ul:not(.active) { display: none; }

    nav #hamburger {
        display: block;
        width: max-content;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        font: var(--font-semi-large);
        user-select: none;
    }

    nav ul.active {
        border: var(--border-hamburger-menu);
        border-top: none;
    }

    header:has(nav ul.active) {
        border-bottom: var(--border-hamburger-menu);
    }

    header,
    nav ul {
        border: none;
    }

    nav ul {
        position: fixed;
        height: max-content;
        top: 4em;
        left: 50%;
        translate: -50%;
        min-width: 16rem;
        padding: 2rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background: var(--color-background);
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 0.25em auto auto 0.25em;
    }

    nav ul li:last-child {
        margin-top: 1.25em;
    }

    nav ul li a img.icon { display: inline-block; }
}