/**
* Globals
*/

:root {
    /**
    * Colors
    */
    --color-black: #000;
    --color-gray: #252525;
    --color-dark-gray-1: #050505;
    --color-dark-gray-2: #151515;
    --color-dark-gray-3: #202020;
    --color-blue: #0000ff;
    --color-dark-blue-1: #0000aa;
    --color-dark-blue-2: #000075;
    --color-dark-blue-3: #000055;
    --color-dark-blue-4: #000025;
    --color-light-blue-1: #2525ff;
    --color-light-blue-2: #5050ff;
    --color-green: #00ff55;
    --color-red: #ff0025;
    --color-gold: #ffff55;

    /**
    * Backgrounds
    */
    --background-1: url('../assets/images/background1.png');

    /**
    * Fonts
    */
    --font-helvetica: 'Helvetica';
    --font-helvetica-bold: 'HelveticaBold';
    --font-syne: 'Syne', sans-serif;
}

body {
    font-family: var(--font-helvetica-bold);
    scroll-behavior: smooth;
    color: white;
    background-color: var(--color-dark-gray-1);
    margin: 0;
}

.button {
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

/**
* Custom Scrollbar
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-dark-gray-3);
}

::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-dark-blue-1);
}

/**
* Custom Selection
*/

::-moz-selection {
    color: white;
    background-color: var(--color-light-blue-1);
}

::selection {
    color: white;
    background-color: var(--color-light-blue-1);
}

/**
* Languages Icons
*/

.lang::before {
    content: '';
    width: 10px;
    height: 10px;
    position: relative;
    right: 5px;
    display: inline-block;
    background-color: #f1e05a;
    border-radius: 50%;
}

.lang.javascript::before {
    background-color: #f1e05a;
}

.lang.python::before {
    background-color: #3572A5;
}

/**
* Pages
*/

.page {
    width: 100%;
    height: auto;
    text-align: center;

    padding-top: 35px;
    padding-bottom: 35px;
}

.page .title {
    margin: 0;
}

.page1 {
    top: 0;
    background: var(--background-1);
    background-color: var(--color-dark-gray-2);
    background-size: 100%;
    background-repeat: no-repeat;
}

.page1 ul {
    margin: 0;
    list-style-type: none;
}

.page1 ul li a {
    font-family: var(--font-syne);
    font-size: 2.5rem;
}

.title {
    font-size: 6.5rem;
}

.page2 {
    background-color: var(--color-dark-gray-2);
}

.page2 ul {
    list-style-type: none;
}

.page2 ul li {
    display: inline-flex;
    margin: 10px;
}

.skillscard {
    position: relative;
    width: 450px;
    height: 125px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-dark-gray-3);
    text-align: left;
}

.skillscard h1 {
    position: absolute;
    top: 0;
    left: 15px;
}

.skillscard a {
    position: absolute;
    top: 60px;
    left: 15px;
    font-family: var(--font-syne);
}

.skillscard .bar {
    position: absolute;
    top: 90px;
    left: 15px;
    width: 350px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--color-dark-gray-2);
}

.skillscard .bar .bar-active {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    height: 20px;
    background-color: var(--color-blue);
}

.page3 {
    background-color: var(--color-dark-gray-1);
}

.page3 ul {
    list-style-type: none;
}

.page3 ul li {
    display: inline-flex;
    margin: 10px;
}

.projectcard {
    position: relative;
    width: 300px;
    height: 350px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-dark-gray-3);
}

.projectcard img.icon {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.projectcard img.banner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.projectcard a {
    font-family: var(--font-syne);
}

.projectcard .projectrole {
    font-size: 1.5rem;
}

.page4 {
    background-color: var(--color-dark-gray-3);
}

.page4 ul {
    list-style-type: none;
}

.page4 ul li {
    display: inline-flex;
    margin: 15px;
}

.socialcard {
    background-color: var(--color-dark-gray-2);
    padding: 15px;
    width: 455px;
    height: 100px;
    text-align: left;
    display: flex;
    border-radius: 20px;
}

.socialcard:hover {
    cursor: pointer;
}

.socialcard .propic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.socialcard .sociallogo {
    border-radius: 20px;
    width: 35px;
    height: 35px;
    position: relative;
    top: 70px;
    right: 25px;
}

.socialcard h1 {
    position: relative;
    right: 15px;
    top: 10px;
}

.page5 {
    background: var(--color-dark-blue-1);
    background: linear-gradient(45deg, var(--color-light-blue-1) 0%, var(--color-dark-blue-1) 100%);
}

.page5 .button {
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
    margin-left: 25px;
    color: #0D0C22;
}

.page5 .button img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
}

.page5 .button.buymeacoffee {
    background-color: #FFDD00;
}

.page5 .button.paypal {
    background-color: #00A9FF;
}

.page5 .button.revolut {
    background: rgb(31,131,197);
    background: linear-gradient(45deg, rgba(31,131,197,1) 0%, rgba(56,195,234,1) 100%);
}

.page6 ul {
    list-style-type: none;
}

.page6 ul li {
    display: inline-flex;
    margin: 10px;
}

.softskillscard {
    position: relative;
    width: 350px;
    height: 175px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-dark-gray-3);
    text-align: left;
}

.softskillscard h1 {
    position: absolute;
    top: 0;
    left: 15px;
}

.softskillscard a {
    position: absolute;
    top: 60px;
    left: 15px;
    font-family: var(--font-syne);
}

.page7 {
    background-color: var(--color-dark-gray-2);
}

.page7 ul {
    list-style-type: none;
}

.page7 ul li {
    display: inline-flex;
    margin: 10px;
}

.osprojectcard {
    position: relative;
    width: 300px;
    height: 125px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-dark-gray-3);
}

.osprojectcard a {
    font-family: var(--font-syne);
}

.osprojectcard h1 {
    margin: 0;
}

.osprojectcard .projectrole {
    font-size: 1.5rem;
}
