/**
* General
*/

:root {
    /**
    * Colors
    */
    --color-black: #000000;
    --color-black-1: #050505;
    --color-black-2: #101010;
    --color-black-3: #151515;
    --color-black-4: #252525;
    --color-white: #ffffff;
    --color-blue: #0000ff;
    --color-blue-1: #3535ff;
    --color-blue-2: #3535aa;
    --color-blue-3: #5555ff;
    --color-dark-blue: #0000aa;
    --color-dark-blue-1: #000015;
    --color-dark-blue-2: #000035;
    --color-dark-blue-3: #000055;

    /**
    * Typography
    */
    --ff-montserrat: 'Montserrat', serif;

    /**
    * Transitions
    */
    --transition-1: all 0.25s ease-in-out;
    --transition-2: slideIn 0.35s normal forwards;
    --transition-3: all 0.15s ease-in-out;

    /**
    * Border Radius
    */
    --radius-pill: 500px;
    --radius-circle: 50%;

    /**
    * Box Shadow
    */
    --box-shadow-1: 0 0 250px var(--color-blue-1);
    --box-shadow-2: 0 0 50px var(--color-blue-1);
    --box-shadow-3: 0 0 75px var(--color-blue-2);
    --box-shadow-4: 0 0 25px var(--color-blue);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-dark-blue-1);
    color: var(--color-white);
}

ul { list-style-type: none; }
li { list-style: none; }
.hidden { display: none; }
.aligncenter { text-align: center; }

a[href] {
    color: inherit;
    text-decoration: none;
}

body[mobile] .scrolldownbtn { display: none; }

.scrolldownbtn {
    position: absolute;
    right: 35px;
    bottom: 35px;
    width: 2rem;
    height: 2rem;
    padding: 10px;
    font-size: 2rem;
    border-radius: var(--radius-circle);
    background-color: var(--color-blue);
    text-align: center;
    transition: var(--transition-3);
    z-index: 98;
}

.scrolldownbtn:hover {
    -webkit-box-shadow: var(--box-shadow-3);
    -moz-box-shadow: var(--box-shadow-3);
    box-shadow: var(--box-shadow-3);
    cursor: pointer;
}

.scrolldownbtn i { margin-inline: auto; position: relative; }

/**
* Scrollbar
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-dark-blue-3);
}

::-webkit-scrollbar-thumb {
    background: var(--color-blue);
    border-radius: var(--radius-pill);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark-blue);
}

body[blur] .page,
body[blur] .header,
body[blur] .scrolldownbtn {
    filter: blur(50px);
}

/**
* Header
*/

.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: var(--color-dark-blue-1);
    z-index: 100;
}

.header.active {
    position: fixed;
    animation: var(--transition-2);
    background-color: var(--color-dark-blue-2);
}

.header ul {
    position: relative;
    right: 50px;
}

.header ul li { margin: 0 10px; }

body[mobile] .header ul { left: 0; }

body:not([mobile]) .header ul {
    position: relative;
    width: 95%;
    height: 70%;
    top: 30%;
    text-align: right;
}

body:not([mobile]) .header ul li {
    display: inline-flex;
}

body:not([mobile]) .header .mobile-bars {
    display: none;
}

body[mobile] .header .mobile-bars {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
}

body[mobile] .header ul {
    background-color: var(--color-dark-blue-1);
    width: 85%;
    height: max-content;
    margin-inline: auto;
    z-index: 101;
    text-align: center;
    border-radius: 0 0 15px 15px;
    padding: 15px 0;
    position: relative;
    top: 55px;
}

body:not([mobile]) .header.active {
    position: fixed;
}

body[mobile] .header.active ul {
    background-color: var(--color-dark-blue-2);
}

body[mobile] .header ul li {
    margin: 7px 0;
}

body[mobile] .header ul:not(.hidden) {
    animation: reveal-up;
    animation-duration: 0.25s;
}

.header .mobile-bars:hover {
    cursor: pointer;
}

.header .lang {
    position: fixed;
    right: 75px;
    font-size: 1.25rem;
}

body[mobile] .header .lang {
    top: 15px;
}

body:not([mobile]) .header .lang {
    top: 22.5px;
}

.header .lang {
    position: absolute;
    display: inline-flex;
}

.header .lang:hover {
    cursor: pointer;
}

.header .lang img {
    margin-right: 5px;
}

.lang-choose {
    position: fixed;
    z-index: 102;
    width: 95%;
    height: 85%;
    background-color: var(--color-dark-blue-3);
    border-radius: 20px;
    transform: translate(2.5%, 7.5%);
}

.lang-choose i {
    position: fixed;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    background-color: var(--color-blue);
    transition: var(--transition-1);
    border-radius: var(--radius-circle);
}

body:not([mobile]) .lang-choose i {
    top: 50px;
    left: 50px;
}

body[mobile] .lang-choose i {
    top: 55px;
    left: 2px;
}

.lang-choose h1 {
    text-align: center;
    font-size: 1.35rem;
    width: 100%;
    margin-top: 15px;
}

.lang-choose i:hover {
    cursor: pointer;
}

.lang-choose ul {
    width: 100%;
    height: 90%;
    text-align: center;
    place-content: center;
}

.lang-choose ul li {
    margin-top: 20px;
    margin-left: 20px;
}

.lang-choose ul li * {
    display: block;
    margin-inline: auto;
    transition: var(--transition-1);
}

.lang-choose ul li:hover {
    cursor: pointer;
}

.lang-choose ul li img {
    border-radius: 20px;
}

body:not([mobile]) .lang-choose ul li img {
    width: 250px;
    height: auto;
}

body:not([mobile]) .lang-choose ul li {
    display: inline-flex;
    color: var(--color-dark-blue-3);
}

body[mobile] .lang-choose ul li img {
    width: 65%;
    height: auto;
}

.lang-choose ul li img:hover,
.lang-choose ul li.selected img,
.lang-choose i:hover {
    -webkit-box-shadow: var(--box-shadow-2);
    -moz-box-shadow: var(--box-shadow-2); 
    box-shadow: var(--box-shadow-2);
}

/**
* Dialog
*/

.dialog {
    position: fixed;
    width: 85%;
    height: 85%;
    top: 7%;
    left: 7%;
    background-color: var(--color-dark-blue-2);
    border-radius: 20px;
    -webkit-box-shadow: var(--box-shadow-4);
    -moz-box-shadow: var(--box-shadow-4);
    box-shadow: var(--box-shadow-4);
    z-index: 105;
}

.dialog:not(.active) {
    display: none;
}

.dialog .container {
    position: absolute;
    width: 95%;
    height: 50%;
    top: 25%;
    left: 2.5%;
}

.dialog [dialog-close-button],
.dialog [dialog-close-button] i {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

.dialog [dialog-close-button] {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #ff0050;
    border-radius: 5px;
    text-align: center;
}

.dialog [dialog-close-button]:hover {
    cursor: pointer;
}

/**
* Custom Selection
*/

::-moz-selection {
    color: white;
    background-color: var(--color-blue);
}

::selection {
    color: white;
    background-color: var(--color-blue);
}

/**
* Animations
*/

@keyframes slideIn {
    0% { transform: translateY(-55px); }
    100% { transform: translateY(0); }
}

@keyframes reveal-down {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes reveal-up {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes reveal-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes reveal-right {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(15px);
    }
}

/**
* Buttons
*/

.btn {
    display: block;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    transition: var(--transition-1);
}

.aligncenter .btn,
.btn.aligncenter {
    margin-inline: auto;
}

.primarybtn {
    padding: 10px 20px;
}

.primarybtn,
.secondarybtn:hover {
    background-color: var(--color-blue);
}

.secondarybtn {
    border: solid 3px var(--color-blue);
    background-color: var(--color-black);
    padding: 7px 20px;
}

.btn:hover {
    -webkit-box-shadow: var(--box-shadow-2);
    -moz-box-shadow: var(--box-shadow-2); 
    box-shadow: var(--box-shadow-2);
}

/**
* Page
*/

.page {
    width: 100%;
    min-height: 400px;
    height: max-content;
}

.fullpage { height: 100vh; }

/**
* Page 1
*/

.page1 h1 {
    line-height: 1.85rem;
    margin-bottom: 7px;
}

.page1 .btn {
    margin-top: 10px;
}

.page1 img {
    border-radius: var(--radius-circle);
    margin-top: 25px;
    -webkit-box-shadow: var(--box-shadow-1);
    -moz-box-shadow: var(--box-shadow-1); 
    box-shadow: var(--box-shadow-1);
    transition: var(--transition-1);
}

/**
* Page 2
*/

body[mobile] .page2 {
    height: 50vh;
}

body[mobile] .page2 ul {
    position: relative;
    width: 85%;
    height: 85%;
    left: 7.5%;
    overflow-y: scroll;
}

body[mobile] .page2 ul li {
    text-align: center;
    display: flex;
}

body[mobile] .experiencecard {
    width: 85%;
}

body:not([mobile]) .experiencecard {
    width: 450px;
}

.experiencecard {
    background-color: var(--color-dark-blue);
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0;
    margin-inline: auto;
}

/**
* Page 3
*/

body[mobile] .page3 ul {
    position: relative;
    width: 85%;
    max-height: 85%;
    overflow-x: hidden;
    left: 7.5%;
}

body[mobile] .page3 ul li {
    text-align: center;
}

.socialcard {
    background-color: var(--color-dark-blue);
    padding: 10px;
    border-radius: 15px;
    margin: 15px 0;
    margin-inline: auto;
}

body[mobile] .socialcard {
    width: 95%;
    display: inline-flex;
}

body[mobile]:not([mobileua]) .socialcard {
    width: 45%;
}

body[mobile] .socialcard h1 i {
    width: 0;
    height: 0;
}

body[mobile] .socialcard h1 span {
    margin-left: 25px;
    width: max-content;
    height: max-content;
}

body[mobile] .socialcard * {
    transform: translateY(10%);
}

body:not([mobile]) .socialcard {
    width: 20vw;
    padding: 15px;
}

body:not([mobile]) img {
    margin-bottom: 5px;
}

.socialcard:hover {
    cursor: pointer;
}

body[mobile] .socialcard img,
body[mobile] .socialcard h1 {
    display: inline-flex;
}

body:not([mobile]) .socialcard img,
body:not([mobile]) .socialcard h1 {
    display: block;
    margin-inline: auto;
}

body[mobile] .socialcard img {
    position: relative;
    bottom: 10px;
}

.socialcard img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

.socialcard h1 {
    font-size: 1.25rem;
}

.socialcard h1 i {
    margin-top: 2.5px;
    margin-right: 5px;
}

.socialcard .fa-arrow-up-right-from-square {
    text-align: left;
    display: flex;
    position: relative;
    top: 5px;
    left: 5px;
}

/**
* Page 4
*/

.page4 {
    min-height: 0;
    margin: 25px 0;
}

.donationbox {
    text-align: center;
    height: max-content;
    background-color: var(--color-dark-blue);
    border-radius: 10px;
    margin-inline: auto;
    margin-top: 15px;
    padding: 10px;
    transition: var(--transition-3);
}

body:not([mobile]) .donationbox { width: 25vw; }
body[mobile] .donationbox { width: 85%; }

.donationbox:hover {
    cursor: pointer;
    -webkit-box-shadow: var(--box-shadow-3);
    -moz-box-shadow: var(--box-shadow-3); 
    box-shadow: var(--box-shadow-3);
}

/**
* Page 6
*/

.page6 {
    height: max-content;
}

.page6 { min-height: 15vh; }

.page6.loading *:not(.loading-screen-component) {
    display: none;
}

.page6:not(.loading) .loading-screen,
.page6:not(.loading) .loading-screen .loading-screen-component {
    display: none;
}

.page6:not(.error) .error,
.page6.error *:not(.error, h1) { display: none; }

.page6.loading {
    height: 15px;
    padding: 50px 0;
}

.page6.loading .loading-screen {
    width: 85%;
    height: 100%;
    background-color: var(--color-dark-blue-2);
    margin-inline: auto;
    border-radius: 20px;
}

.page6 .loading-screen .dot {
    width: 50px;
    height: 50px;
    border-radius: var(--radius-circle);
    background-color: var(--color-blue);
    display: inline-flex;
    margin: 0 5px;
    position: relative;
    top: 45%;
    transition: var(--transition-1);
    animation: loading infinite alternate 1s;
}

.page6 ul {
    min-height: 85%;
    height: max-content;
    text-align: center;
    margin-inline: auto;
}

body:not([mobile]) .page6 ul { width: 35vh; }
body[mobile] .page6 ul { width: 85%; }

.page6 ul li {
    width: 100%;
    height: max-content;
    margin: 15px 0;
}

.githubcard {
    width: 100%;
    height: max-content;
    padding: 15px 0;
    border-radius: 15px;
    background-color: var(--color-blue);
}

.githubcard:hover {
    cursor: pointer;
}

.githubcard .githubtitle,
.githubcard .githubdesc,
.githubcard .githublang {
    display: block;
}

.githubcard .githublang i {
    margin-right: 5px;
}

.githubcard .stats {
    margin-top: 15px;
}

.githubcard .stats a {
    margin: 0 5px;
}

.githubcard .fa-arrow-up-right-from-square {
    text-align: left;
    display: flex;
    position: relative;
    left: 15px;
}

/**
* Page 7
*/

.page7 {
    min-height: max-content;
}

.page7 ul {
    max-height: 85%;
    text-align: center;
    margin-inline: auto;
}

body:not([mobile]) .page7 ul { width: 25vw; }
body[mobile] .page7 ul { width: 85%; }

.page7 ul li {
    width: 100%;
    height: max-content;
    margin: 15px 0;
}

.projectcard {
    width: 90%;
    height: max-content;
    border: var(--color-blue) 5px solid;
    border-radius: 20px;
    text-align: center;
    margin-inline: auto;
    padding: 10px 0;
}

.projectcard .buttons {
    margin-top: 35px;
}

.projectcard a.btn {
    margin: 10px 0;
    margin-inline: auto;
}

.projectcard .projectrole {
    display: block;
}

.projectcard .projectrole span {
    color: var(--color-blue-3);
    font-weight: bold;
}

/**
* Page 8
*/

.page8 ul {
    max-height: 85%;
    text-align: center;
    margin-inline: auto;
}

body:not([mobile]) .page8 ul { width: 35vw; }
body[mobile] .page8 ul { width: 85%; }

.page8 ul li {
    width: 100%;
    height: max-content;
    margin: 15px 0;
}

.softskillcard {
    width: 95%;
    height: max-content;
    text-align: center;
    margin-inline: auto;
    background-color: var(--color-blue);
    border-radius: 10px;
    padding: 10px 0;
}

.softskillcard h1 {
    font-size: 1.5rem;
}

.softskillcard a {
    display: block;
    font-size: 1rem;
    max-width: 95%;
    margin-inline: auto;
}

/**
* Footer
*/

.footer {
    min-height: 200px;
    height: max-content;
    background-color: var(--color-dark-blue-2);
    padding: 15px 0;
}

.footer .footer-content {
    margin-left: 10px;
}

.footer h1 {
    font-size: 1.25rem;
}

.footer ul li a {
    font-size: 0.95rem;
}

.footer ul {
    margin-bottom: 15px;
}

.footer a.btn {
    margin: 10px;
}

.footer .footer-socials {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.footer .footer-socials i {
    transition: var(--transition-3);
}

.footer .footer-socials i:hover {
    color: var(--color-blue-3);
    cursor: pointer;
}